aside {
    height: 100vh;
  min-width: 30vw;
  display: flex;
  flex-direction: column;
  background: $primary-color-gradient;
  justify-content: center;

  .login {
    display: block;
    width: 90%;
    align-items: center;
    margin: auto;

    .imgcontainer{
        text-align: center;

        .svg{
          width: 35%;
           }
    }

    .form {
      input {
        background-color: transparent;
        border-style: none;
        padding: 20px 0 10px 0;
        font-family: $primary-font-style;
        font-size: 1.5rem;
        color: $input-text-color;
        &:focus{
          outline: none;
        }
      }


      ::placeholder {
        padding-bottom:0 ;
        font-family: $primary-font-style;
        font-size: 1.3rem;
        color: $input-text-color;
      }

      .line {
        width: 100%;
        height: 1px;
        background-color: $secondary-color;
      }

      .psw{
        padding-top: 10px;
        color: $input-text-color;
        font-size: 1.4rem;
        a{
            color: $input-text-color;
          }
      }
    }

    .signBtn{
        margin-top: 90px;
        display: flex;
        justify-content: space-evenly ;
        

        button{
            padding: 10px 30px 10px 30px;
            border-radius: 30px;
            color: black;
            font-family: $primary-font-style;
            font-size: 1.5rem;

            &:first-child{
                background: $secondary-color;
                border: none;
            }
            
            &:nth-child(2){
                background-color: transparent;
                margin-left: 20px;
                border: solid 1.2px  white;
            }
        }


    }
  }
  .footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 50px;

    img{
      width: 50px;
    }
  }
}