aside {
  min-width: 30vw;
  display: flex;
  flex-direction: column;
  background: $primary-color-gradient;
  justify-content: center;

  .login {
    display: block;
    width: 90%;
    align-items: center;
    margin: auto;

    .imgcontainer{
        text-align: center;
    }

    .form {
      input {
        display: inline-block;
        width: 100%;
        background-color: transparent;
        border-style: none;
        padding: 30px 0 30px 0;
      }

      ::placeholder {
        font-family: $primary-font-style;
        font-size: 1.3rem;
        color: $input-text-color;
      }

      .line {
        width: 100%;
        height: 1px;
        background-color: $secondary-color;
      }

      .psw{
          color:$primary-text-color
        a{
            font-size: 1.4rem;
            text-decoration: none;
          }
      }
    }

    .signBtn{
        margin-top: 20px;

        button{
            padding: 10px 20px 10px 20px;
            border-radius: 20px;
        }
    }
  }
}
