aside {
    height: 100vh;
  min-width: 30vw;
  display: flex;
  flex-direction: column;
  background: $primary-color-gradient;
  justify-content: center;

  .login {
    display: block;
    width: 90%;
    align-items: center;
    margin: auto;

    .imgcontainer{
        text-align: center;
    }

    .form {
      input {
        display: inline-block;
        width: 100%;
        background-color: transparent;
        border-style: none;
        padding: 30px 0 30px 0;
        font-family: $primary-font-style;
        font-size: 1.5rem;
        color: $input-text-color;
      }

      &:active{
        border: none
      }

      ::placeholder {
        font-family: $primary-font-style;
        font-size: 1.3rem;
        color: $input-text-color;
      }

      .line {
        width: 100%;
        height: 1px;
        background-color: $secondary-color;
      }

      .psw{
        //   color:$primary-text-color
        color: $input-text-color;
        font-size: 1.4rem;
        a{
            color: $input-text-color;
          }
      }
    }

    .signBtn{
        margin-top: 90px;
        

        button{
            padding: 10px 30px 10px 30px;
            border-radius: 30px;
            color: white;
            font-family: $primary-font-style;
            font-size: 1.5rem;

            &:first-child{
                background-color: $secondary-color;
                border: none;
            }
            
            &:nth-child(2){
                background-color: transparent;
                margin-left: 20px;
                border: solid 1.2px  white;
            }
        }


    }
  }
}
