main {
  display: flex;
  height: 100vh;
  background: white;

  nav {
    width: 100%;
    height: 100%;
    ul {
      display: flex;
      justify-content: flex-end;
      margin: 0;
      padding: 20px 0 20px 0;

      li {
        list-style: none;
        padding-right: 30px;

        a {
          font-size: 1.4rem;
          text-decoration: none;
          background: $primary-text-color;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }

  .line{
    width: 100%;
    height: 4px;
    background: $golden-color-gradiant;
  }

  .section {
    // position: relative;
    display: flex;
    flex-direction: column;

    .contenido {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 50px;
      height: 100%;

      .titulo {
        color: $secondaty-text-color;
        font-size: 2rem;
      }

      .texto-principal {
        width: 70%;
        text-align: justify;
        font-size: 1.5rem;
      }

      .contenido-imagenes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-right: 50px;

        img {
          border-radius: 7px;
          object-fit: cover;
          width: 30%;
        }
      }
    }
  }
}
