$primary-color: #9040C1;
$secondary-color:#F84CF0;
$primary-text-color: #9B9B9B;
$secondaty-text-color:#9040C1;
$input-text-color: #CFCFCF;
$primary-font-style:'Montserrat';
$primary-color-gradient: linear-gradient(145.92deg, #9040C1 23.09%, #F84CF0 144.07%);