$primary-color: #9040C1;
$secondary-color:#F84CF0;
$primary-text-color: #8b8b8b,;
$secondaty-text-color:#9040C1;
$input-text-color: black    ;
$primary-font-style:'Montserrat';
$secondary-color-gradient:linear-gradient(13deg, rgba(255,190,190,1) 0%, rgba(255,213,213,1) 100%);
$primary-color-gradient: linear-gradient(145.92deg, #f4c2c2 23.09%, #ff97e7 144.07%);
$golden-color-gradiant:linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);