main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background: white;
}

main nav {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

main nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
  padding: 20px 0 20px 0;
}

main nav ul li {
  list-style: none;
  padding-right: 30px;
}

main nav ul li a {
  font-size: 1.4rem;
  text-decoration: none;
  background: linear-gradient(13deg, #ffbebe 0%, #ffd5d5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main .section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .section .contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 50px;
  height: 100%;
}

main .section .contenido .titulo {
  color: #9040C1;
  font-size: 2rem;
}

main .section .contenido .texto-principal {
  width: 70%;
  text-align: justify;
  font-size: 1.5rem;
}

main .section .contenido .contenido-imagenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 50px;
}

main .section .contenido .contenido-imagenes img {
  border-radius: 7px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 30%;
}

aside {
  height: 100vh;
  min-width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: linear-gradient(145.92deg, #f4c2c2 23.09%, #ff97e7 144.07%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

aside .login {
  display: block;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

aside .login .imgcontainer {
  text-align: center;
}

aside .login .imgcontainer .svg {
  width: 35%;
}

aside .login .form input {
  background-color: transparent;
  border-style: none;
  padding: 20px 0 10px 0;
  font-family: "Montserrat";
  font-size: 1.5rem;
  color: black;
}

aside .login .form input:focus {
  outline: none;
}

aside .login .form ::-webkit-input-placeholder {
  padding-bottom: 0;
  font-family: "Montserrat";
  font-size: 1.3rem;
  color: black;
}

aside .login .form :-ms-input-placeholder {
  padding-bottom: 0;
  font-family: "Montserrat";
  font-size: 1.3rem;
  color: black;
}

aside .login .form ::-ms-input-placeholder {
  padding-bottom: 0;
  font-family: "Montserrat";
  font-size: 1.3rem;
  color: black;
}

aside .login .form ::placeholder {
  padding-bottom: 0;
  font-family: "Montserrat";
  font-size: 1.3rem;
  color: black;
}

aside .login .form .line {
  width: 100%;
  height: 1px;
  background-color: #F84CF0;
}

aside .login .form .psw {
  padding-top: 10px;
  color: black;
  font-size: 1.4rem;
}

aside .login .form .psw a {
  color: black;
}

aside .login .signBtn {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

aside .login .signBtn button {
  padding: 10px 30px 10px 30px;
  border-radius: 30px;
  color: black;
  font-family: "Montserrat";
  font-size: 1.5rem;
}

aside .login .signBtn button:first-child {
  background: #F84CF0;
  border: none;
}

aside .login .signBtn button:nth-child(2) {
  background-color: transparent;
  margin-left: 20px;
  border: solid 1.2px  white;
}

aside .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

aside .footer img {
  width: 50px;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat";
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */